<div class="log-in-layout">
 <app-header [pageType]="pageType"></app-header>
  <div class="log-in-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="caption">
        User Name
      </div>
        <input
          type="text"
          [ngClass]="{'form-control': true, 'invalid': noUser}"
          formControlName="username"
        />
      <div class="validation-message" *ngIf="noUser">
        Not a valid user name
      </div>
      <button class="btn btn-success log-in-btn" type="submit" [disabled]="!form.valid">Log In</button>
    </form>
  </div>
</div>
