.log-in-layout {
  .header {
    width: 100%;
    border-bottom: 2px solid gray;
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .user-panel {
      .user-message {
        margin-right: 10px;
      }
    }
  }

  .log-in-form {
    width: 400px;
    margin: 200px auto;
    .caption {
      padding: 10px 0;
    }

    .log-in-btn {
      float: right;
    }

    .invalid {
      border-color: red
    }

    .validation-message {
      color: red;
    }
  }
}
