<form [formGroup]="form">
  <label for="title">Title</label>
  <input class="form-control" id="title" formControlName="title"/>
  <label for="message">Message</label>
  <textarea class="form-control message" id="message" formControlName="body"></textarea>
</form>

<div class="buttons">
  <button class="btn btn-success" (click)="deleteMessageClick()"> Delete</button>
  <button class="btn btn-success right-btn" (click)="saveFormClick()"> Save</button>
  <button class="btn btn-success right-btn" (click)="cancelClick()"> Cancel</button>
</div>
