<div class="header">
  <div>
    <h3 class="page-name">{{getPageTitle()}}</h3>
    <span>
      <a
        (click)="backToHomepage()"
        *ngIf="backToHomepageLinkIsVisible()"
        class="link"
      >
        Back to home page
      </a>
    </span>
  </div>

  <app-user-panel
    *ngIf="userPanelIsVisible()"
    [user]="user"
    (loginClick)="onLoginClick()"
    (logoutClick)="onLogoutClick()"
  >
    <a class="btn btn-info" (click)="newPostBtnClick()">New Post</a>
  </app-user-panel>
</div>
