.header {
  width: 100%;
  border-bottom: 2px solid gray;
  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .page-name {
    display: inline-block;
    margin-right: 20px;
  }
}
