<div class="message-list-layout">
  <app-header
    [pageType]="pageType"
    [user]="currentUser"
    (createNewMessage)="onCreateNewMessage()"
  >
  </app-header>
  <div class="container">
    <div class="info-message">
      A new post was saved successfully
    </div>
    <div class="message-list">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <th> UserModel </th>
        <th> Post </th>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>Name LastName</div>
            <div><a href="google.com">CompanyName</a></div>
          </td>
          <td>
            <div><a href="google.com">Post Title</a></div>
            <div>post text</div>
          </td>
        </tr>

        <tr>
          <td>
            <div>Name LastName</div>
            <div><a href="google.com">CompanyName</a></div>
          </td>
          <td>
            <div><a href="google.com">Post Title</a></div>
            <div>post text</div>
          </td>
        </tr>

        <tr>
          <td>
            <div>Name LastName</div>
            <div><a href="google.com">CompanyName</a></div>
          </td>
          <td>
            <div><a href="google.com">Post Title</a></div>
            <div>post text</div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="navigation">
        <span class="navigate-button"><img src="assets/images/arrow-left.svg" height="20px"></span>
        <span class="navigate-button"><img src="assets/images/arrow-right.svg" height="20px"></span>
      </div>
    </div>
  </div>
</div>
