<div class="message-list-layout">
  <app-header
    [pageType]="pageType"
    (createNewMessageClick)="onCreateNewMessageClick()"
  >
  </app-header>
  <div class="container">
    <app-notification [notification]="notification$ | async"></app-notification>
    <app-message-grid
      [user]="currentUser$ | async"
      [messages]="messages$ | async"
      (editMessage)="onEditMessage($event)"
    ></app-message-grid>
    <app-navigation
      (navigate)="onPageNavigate($event)"
      [paging]="paging$ | async"
    ></app-navigation>
  </div>
</div>
