.message-table {
  tbody {
    display: block;
    max-height: 60vh;
    overflow-y: scroll;
  }

  thead,
  tbody tr {
    .header-user {
      width: 30%;
    }

    .body-user {
      width: 30%;
    }

    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .company-name-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;

    &:hover {
      color: #0056b3;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
